## .NET
bin/
obj/
*.user
*.suo
.vs/
*.log

## Secrets — solo ignorar el local que tiene passwords reales
appsettings.json
appsettings.Development.json

## Docker
.dockerignore

## Python (por el .venv)
.venv/
__pycache__/
*.pyc
